body {
    background-color: rgb(78, 78, 78);
}

h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

h2 {
    font-size: 35px;
    margin: 0px;
}

h1, h2 {
    color: white;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
}

.game-area {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.table {
    text-align: center;
    background-color: green;
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px;
    max-width: 700px;
}

.computer, .player {
    border: 2px dotted red;
    width: 250px;
    height: 350px;
    padding-top: 18px;
    
}

.computer {
    margin-bottom: 50px;
}

.player {
    margin-bottom: 30px;
}



button {
    font-size: 20px;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 5px  rgba(0, 0, 0, 0.2);
    background-color: yellow;
}