body {
    margin-top: 25px;
    background-color: black;
}

h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

h2 {
    font-size: 35px;
    margin: 0px;
}

h1, h2 {
    color: goldenrod;
    text-align: center;
}

h3 {
    font-size: 25px;
}

.game-area {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.table {
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    /* background-color: green; */
    border: 1px solid  goldenrod;
    border-radius: 20px;
    padding: 25px;
    max-width: 700px;
    color: goldenrod;
}

.computer-white, .player-white {
    display: block;
    margin: 0 auto;
    border: 2px dashed white;
    border-radius: 15px;
    width: 175px;
    height: 225px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.computer-win,
.player-win {
    display: block;
    margin: 0 auto;
    border: 2px solid  goldenrod;
    border-radius: 15px;
    width: 175px;
    height: 225px;
    padding-top: 10px;
    margin-bottom: 50px;
}


button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    box-shadow: 3px 3px 3px 5px  rgba(0, 0, 0, 0.2);
}

footer {
    color: white;
}

footer a {
    color: goldenrod;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
h1 {
        font-size: 30px;
    }

h2 {
    font-size: 25px;
}

h3 {
    font-size: 15px;
}

.table {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    max-width: 80%;
}

.game-area {
    margin-top: 30px;
}

.computer,
.player {
    border-radius: 5px;
    width: 100px;
    height: 150px;
    padding-top: 18px;
    margin-bottom: 20px;
}



}