body {
    margin-top: 25px;
    background-color: rgb(78, 78, 78);
}

h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

h2 {
    font-size: 35px;
    margin: 0px;
}

h1, h2 {
    color: white;
    text-align: center;
}

.game-area {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.table {
    text-align: center;
    background-color: green;
    border: 1px solid white;
    border-radius: 20px;
    padding: 25px;
    max-width: 700px;
    color: white;
}

.computer, .player {
    display: block;
    margin: 0 auto;
    border: 2px dashed white;
    border-radius: 15px;
    width: 175px;
    height: 225px;
    padding-top: 18px;
    margin-bottom: 50px;
}


button {
    font-size: 20px;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 5px  rgba(0, 0, 0, 0.2);
}

footer {
    color: white;
}

footer a {
    color: yellow;
}

@media screen and (max-width: 900px) {
h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

.table {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    max-width: 80%;
}

.game-area {
    margin-top: 30px;
}

.computer,
.player {
    border-radius: 5px;
    width: 85px;
    height: 110px;
    padding-top: 18px;
    margin-bottom: 20px;
}



}